<footer class="py-4 px-6 flex flex-row flex-no-wrap justify-end items-center">
  <span class="text-link uppercase tracking-widest"><a href='//twitter.com/dajocarter' target="_blank" rel="noopener noreferrer">{{ env.site.author }}</a></span>
</footer>