<header class="py-4 px-6 flex flex-row flex-no-wrap justify-between items-center">
  <a href="/" class="text-link uppercase tracking-widest">{{ env.site.title }}</a>
  <button
    type="button"
    id="toggle-theme"
    class="w-6 h-6 flex justify-center items-center bg-link rounded-sm outline-none"
    aria-label="switch to light mode"
    data-theme-switcher="light"
  >
    <img 
      src="/img/light.svg"
      alt="switch to light mode"
      width="14"
      height="14"
      class="block cursor-pointer"
      aria-hidden="true"
    />
  </button>
</header>