<header class="py-4 px-6 flex flex-row flex-no-wrap justify-between items-center">
  <a href="/" class="text-link uppercase tracking-widest">dajo11ty</a>
  <button
    type="button"
    class="w-6 h-6 flex justify-center items-center bg-link rounded-sm outline-none"
  >
    <img 
      id="toggle-theme"
      src="/img/light.svg"
      alt="switch to light mode"
      width="24"
      height="24"
      class="block p-1 cursor-pointer"
      data-theme-switcher="light"
      aria-hidden="true"
    />
    <span class="hidden invisible">switch to light mode</span>
  </button>
</header>