:root {
  --imperial-red: #e63946;
  --honeydew: #f1faee;
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;

  --theme--color__background: var(--prussian-blue);
  --theme--color__text: var(--honeydew);
  --theme--color__link: var(--imperial-red);
}

html[data-theme='dark'] {
  --theme--color__background: var(--prussian-blue);
  --theme--color__text: var(--honeydew);
  --theme--color__link: var(--imperial-red);
}

html[data-theme='light'] {
  --theme--color__background: var(--honeydew);
  --theme--color__text: var(--prussian-blue);
  --theme--color__link: var(--imperial-red);
}
