<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body data-theme="dark" class="bg-theme text-theme">
    {% include "header.njk" %}
    <main class="px-6">
      {{ content | safe }}
    </main>
  </body>
</html>
