---
layout: default
---
<article class="mx-auto prose md:prose-lg lg:prose-xl xl:prose-2xl">
  <h1>{{ title }}</h1>
  <p>Posted on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | humanDateString }}</time>
  {{ content | safe }}
</article>