---
layout: default
title: 'Page Not Found'
permalink: 404.html
---
<article class="mx-auto prose md:prose-lg lg:prose-xl xl:prose-2xl">
  <h1>This is not the page you're looking for.</h1>
  <h2>Perhaps you're looking for <a href="/blog">the blog</a>?</h2>
</article>