---
layout: default
title: "Blog"
pagination:
  data: collections.blog
  size: 5
  reverse: true
  alias: posts
permalink: "/blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
<div class="text-theme mx-auto max-w-4xl">
  <article class="mx-auto prose md:prose-lg lg:prose-xl lg:mb-12 xl:prose-2xl xl:mb-16">
    <h1>My Blog Posts</h1>
    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ post.url }}"> {{ post.data.title }} </a>
      </li>
      {% endfor %}
    </ul>
  </article>

  {% if pagination.pages.length > 1 %}
  <nav aria-labelledby='blog-navigation'>
    <ol class="flex flex-row justify-center items-center self-center">

      {% if pagination.href.previous %}
      <li class="text-lg flex-grow previous">
        <a class="block text-center border border-solid border-link text-theme" href="{{ pagination.href.previous }}">«</a>
      </li>
      {% endif %}

      {% if pagination.pageNumber > 1 %}
      <li class="text-lg flex-grow first">
        <a class="block text-center border border-solid border-link text-theme"
          href="{{ pagination.href.first }}"
        >1</a>
      </li>
      {% endif %}

      {% if pagination.pageNumber > 2 %}
      <li class="text-lg flex-grow"><a class="block text-center border border-solid border-link text-theme">...</a></li>
      {% endif %}

      {% if pagination.pageNumber > 0 %}
      <li class="text-lg flex-grow current-prev">
        <a class="block text-center border border-solid border-link text-theme"
          href="{{ pagination.hrefs[ pagination.pageNumber - 1 ] }}"
        >{{ pagination.pageNumber }}</a>
      </li>
      {% endif %}

      <li class="text-lg flex-grow current">
        <a class="block text-center border border-solid border-link text-bg bg-link"
          href="{{ pagination.hrefs[ pagination.pageNumber ] }}"
          aria-current="page"
        >{{ pagination.pageNumber + 1 }}</a>
      </li>

      {% if pagination.pageNumber < (pagination.pages.length - 1) %}
      <li class="text-lg flex-grow current-next">
        <a class="block text-center border border-solid border-link text-theme"
          href="{{ pagination.hrefs[ pagination.pageNumber + 1 ] }}"
        >{{ pagination.pageNumber + 2 }}</a>
      </li>
      {% endif %}

      {% if (pagination.pages.length > 3) and (pagination.pageNumber < (pagination.pages.length - 3)) %}
      <li class="text-lg flex-grow"><a class="block text-center border border-solid border-link text-theme">...</a></li>
      {% endif %}

      {% if (pagination.pages.length > 2) and (pagination.pageNumber < (pagination.pages.length - 2)) %}
      <li class="text-lg flex-grow last">
        <a class="block text-center border border-solid border-link text-theme"
          href="{{ pagination.href.last }}">{{ pagination.pages.length }}</a>
      </li>
      {% endif %}
      
      {% if pagination.href.next %}
      <li class="text-lg flex-grow next">
        <a class="block text-center border border-solid border-link text-theme"
          href="{{ pagination.href.next }}">»</a>
      </li>
      {% endif %}
    </ol>
  </nav>
  {% endif %}
</div>