<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>¡Hola Munda!</title>
    <meta name="description" content="I built this with 11ty" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
